.container{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: gray;
    color: white;
    width: 45%;
    border-radius: 10px;
    margin-left: 30%;
    font-size: 18px;
}
ul{
    list-style: none;
}